@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.tplborder, .link, .link-2 {
  font-size: 100px;
  border-bottom: 5px dashed red;
}

.block {
  width: 31.25%;
  background-color: #666;
  padding: 30px;
  line-height: 60px;
}

.block .block__text {
  font-size: 100px;
}

.block .block__text span {
  color: green;
}

.link {
  font-size: 80px;
  color: green;
  color: #000;
  text-decoration: underline;
  font-size: 100px;
}

.block .link {
  font-size: 100px;
}

.link:hover {
  color: #fff;
}

.link-2 {
  font-size: 50px;
  color: green;
  border-bottom: 5px dashed #000;
}

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
/*    font-family: 'Aguafina Script', cursive;*/
  font-family: 'Lato', sans-serif;
/*    font-family: 'Satisfy', cursive;*/
/*    font-family: 'Lobster', cursive;*/

  font-size: 15px;
  line-height: 1.6;
  color: #333;
  -webkit-font-smoothing: antialiased;

   background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
margin: 0 0 10px;
}





/* =====  Container  ====== */

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}


/* =====  Header  ====== */

.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
/*    background: linear-gradient(to bottom, #000 0%, transparent 100%);*/
}

.header__inner {
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;


}

.header__logo {
  margin-top: 10px;
  color: #fff;
  font-size: 54px;
  font-family: 'Aguafina Script', cursive;
  font-weight: 700;


}

.rub {
  color: #fe0000;
}


/* =====  Nav  ====== */

.nav  {

  display: flex;


  font-weight: 700px;
}

.nav__link {

  margin-left: 40px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;


  opacity: .75;
}

.nav__link:first-child {
  margin: 0;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link:hover {

  opacity: 1;
  color: #fff;
  transition:  .2s linear;

}


/* =====  Intro  ====== */


.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 800px;
  padding-top: 100px;
  background: linear-gradient(to bottom, #000 0%, transparent 100%), url(../img/tools-336568_1920.jpg) center no-repeat;

  -webkit-background-size: cover;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  min-width: 970px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  margin-top: 0;

  font-size: 28px;
  font-weight: 400;

  color: #fff;

}

.intro__text {
  font-size: 86px;
  font-weight: 700;
  color: #fff;

  font-family: 'Aguafina Script', cursive;



}

/*
.intro__border {
  width: 100%;
  max-width: 120px;
  margin: 40px auto;
  border: 1px solid #fff;


}
*/

