* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
/*    font-family: 'Aguafina Script', cursive;*/
    font-family: 'Lato', sans-serif;
/*    font-family: 'Satisfy', cursive;*/
/*    font-family: 'Lobster', cursive;*/

    font-size: 15px;
    line-height: 1.6;
    color: #333;
    -webkit-font-smoothing: antialiased;

     background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
 margin: 0 0 10px;
}





/* =====  Container  ====== */

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/* =====  Header  ====== */

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
/*    background: linear-gradient(to bottom, #000 0%, transparent 100%);*/
}

.header__inner {
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;


}

.header__logo {
    margin-top: 10px;
    color: #fff;
    font-size: 54px;
    font-family: 'Aguafina Script', cursive;
    font-weight: 700;


}

.rub {
    color: #fe0000;
}


/* =====  Nav  ====== */

.nav  {

    display: flex;


    font-weight: 700px;
}

.nav__link {

    margin-left: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;


    opacity: .75;
}

.nav__link:first-child {
    margin: 0;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover {

    opacity: 1;
    color: #fff;
    transition:  .2s linear;

}


/* =====  Intro  ====== */


.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 800px;
    padding-top: 100px;
    background: linear-gradient(to bottom, #000 0%, transparent 100%), url(../img/tools-336568_1920.jpg) center no-repeat;

    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    min-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin-top: 0;

    font-size: 28px;
    font-weight: 400;

    color: #fff;

}

.intro__text {
    font-size: 86px;
    font-weight: 700;
    color: #fff;

    font-family: 'Aguafina Script', cursive;



}

/*
.intro__border {
    width: 100%;
    max-width: 120px;
    margin: 40px auto;
    border: 1px solid #fff;


}
*/



/* =====  Button  ====== */

.btn {
    margin-top: 40px;
    display: inline-block;
    vertical-align: top;
    padding: 20px 60px;
    font-size: 16px;
    color: #fff;

    text-transform: uppercase;
    text-decoration: none;
}

.btn--black {
    background: #000;
    opacity: .8;
}

.btn--black:hover {
    opacity: 1;
    transition: .3s;
}


/* =====  About  ====== */
.about {
    padding: 60px 0 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle {
    font-family: 'Lobster', cursive;
    font-size: 22px;
    color: #fe0000;;
}

.section__title {
    font-size: 28px;
    font-weight: 700;
    color: #000;

}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #fe0000;
}

.section__text {
    font-size: 15px;
    color: #000;
}

/* about img */

.about__img {
    display: flex;
    justify-content: space-between;
}

.card__img {
    width: 33%;

    height: 250px;
    margin: 0;

}

.center__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*section*/

.section {
    padding: 60px 0 0;
}

/*Services*/

.section__services {
    padding: 60px 0 0;
/*
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
*/

}

/* Services */

.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.33333%;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 30px;
}

.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;

    font-size: 14px;

    color: #000;
    text-transform: uppercase;
}

.services__text {
    font-size: 15px;
    color: #000;
}

/* Works */


.works {
    display: flex;

}

.works__col {
    flex: 25%;
    align-items: stretch;
    height: 100%;
}

.works__img {
    height: 250px;
}

.works__img1 {
    height: 500px;
}


/*   Prices  */

.prices {
/*
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
*/
}

.main__prices {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0 0;



}

.price__block {
    flex: 25%;
    text-align: center;

    padding: 0 10px;

}

li {
    list-style-type: none;
    margin: 7px 0;
    line-height: 1.2;

}

.price__title {
    margin-bottom: 20px;
}

.price__img {
    width: 100%;
    height: 150px;
    border: 1px solid #000;
    border-color: #000;
}

.job__description {
    margin: 15px 0 60px;
    text-align: center;
}


/*  Contact*/

.contact {
    padding: 20px 0 60px;
}

.contact__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
        ;
}

.contact__block {
    flex: 50%;
    text-align: center;
}

#map {
    width: 100%;
height: auto;
}



















